.input {
  width: 90%;
  border-radius: 30px;
  background-color: #FFFFFF;
  padding-bottom: 40px;
}

.header__text {
  color: #292C6F;
  font-size: 130%;
  font-weight: 600;
}

.input__header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.input__area {
  margin-top: 10px;
}

.input__area textarea::-webkit-scrollbar {
  display: none !important;
}

.input__area .mantine-Textarea-input {
  color: #7C7C7A !important;
}

.input__area .mantine-Textarea-input {
  border: none !important;
  outline: none !important;
}

.input__area .mantine-Textarea-input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.input__area .mantine-Textarea-input:hover {
  border: none !important;
}