.languageSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  width: 80%;
  height: 80px;
  position: fixed;
  padding: 0 20px;
  bottom: 5%;
  border-radius: 30px;
}

.languageSelect__reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(2);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #2a2abc;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.languageSelect__reverse:active {
  transform: scale(2) translateY(0.5px)
}

.languageSelect__text {
  color: #2a2abc;
  font-size: 20px;
}

@media (max-height: 500px) {
  .languageSelect {
    display: none;
  }
}