.input__icon {
  width: 17px;
  height: 17px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5) translate(53vw, 8px);
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.input__icon:active {
  transform: scale(1.5) translate(53vw, 9px);
}

.icon__del {
  display: none;
}

.icon__del--active {
  display: block;
}