.input__icon {
  position: absolute;
  transform: scale(1.5) translate(53vw, 8px);
}

.input__icon:active {
  transform: scale(1.5) translate(53vw, 8.5px);
}

.icon__del {
  display: none;
}

.icon__del--active {
  display: block;
}

@media (max-height: 500px) {
  .input-view {
    display: none;
  }
}